<div class="container">

  <h3>Books</h3>
  <div class="books">
    <table border="2px">
      <thead>
      <th>id</th>
      <th>title</th>
      <th>authorId</th>
      <th>genre</th>
      <th>publishingHouse</th>
      <th>publicationDate</th>
      <th>bookCover</th>
      <th>note</th>
      <th>count</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let book of books" class="book-name">
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.authorId}}</td>
        <td>{{book.genre}}</td>
        <td>{{book.publishingHouse}}</td>
        <td>{{book.publicationDate}}</td>
        <td>{{book.bookCover}}</td>
        <td>{{book.note}}</td>
        <td>{{book.count}}</td>
        <td>
          <a [routerLink]="['/update', book.id]">Update</a> &nbsp;
          <button  (click)="deleteBook(book)"> Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
